.home-container {
  padding: 15px;
  background-color: #152850;
  color: white;
  height: 100vh;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-container button {
  padding: 12px;
  background: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-page img {
  width: 50%;
}
